@import '../abstracts/mixins';
@import '../abstracts/variables';

// html{
//     // font-size: 62.5%;
// }
/*Font typography*/
h1{
    @include font($Blue-dark,900);  
    font-size: 2.8rem !important;
    @include mobile{
        font-size: 2.6rem !important;
    }
    }


h2, h3, h4, h5, h6{
    @include font($Blue-dark,600);
   
    
}

h5{
    font-weight: 400 !important;
}

.footer{
    h6{
        color: $blue-thin-light !important; 
        font-weight: 100 !important;  
    }
}
