$primary-font: 'Josefin Sans', sans-serif;

//My theme colors
$white : #fffffe;
$Blue-dark:  #272343;
$blue-light:  #bae8e8;
$blue-thin-light: #E3F6F5;
$yellow: #ffd803;

//colors
$primary : $blue-thin-light;
$secondary : $Blue-dark;
$tertiary : $blue-light;
$accent : $yellow;
$light: $white;